@font-face {
    font-family: "SFDisplay-bold";
    src: url("/assets/Fonts/SFUIDisplay-Bold.ttf") format("opentype");
    font-style: bold;
}

@font-face {
    font-family: "SFDisplay-light";
    src: url("/assets/Fonts/SFUIDisplay-Light.ttf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SFDisplay-semiBold";
    src: url("/assets/Fonts/SFUIDisplay-Semibold.ttf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face{
  font-family: "SF-Pro-Display-Regular";
  src: url("/assets/Fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
