@import "./fonts.scss";
@import "./mixins.scss";
@import "./animations.scss";

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-width: 100%;
    background-color: #F7F7F7;
}

*,p,li,ul,h1,h2,h3,h4,h5,h6,a,thead,tbody{
    font-family: $SFDisplay-regular ;
    margin: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}

.snackBarWarningStyle{
    border: 1px solid #ffffff !important;
    border-radius: 10px !important;
    background: #ffffff !important;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
    position: absolute;
    right: 0px !important;
    top: 0px !important;

}

.mat-snack-bar-container{
    padding: 0px !important;
    background: transparent !important;
    border-radius: 15px !important;
    margin-top: 24px !important;
    margin-right: 24px !important;
    margin-bottom: 45px !important;
    margin-left: 24px !important;
}

.sideNavBarHidden{
    display: none !important;
}

.contentGroup{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.noInfoText{
    color: #969594;
    text-align: center;
    margin: auto;

}
.jumbotron {
    position: relative !important;
    display: flex;
    flex-direction: column;
    max-height: 70rem !important;
    overflow-y: auto;
    margin-top: 2rem !important;
    padding-top: 2rem !important;
    background-color: $white-color !important;
    border-radius: 20px !important;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2) !important;
    margin: 0 1.5rem;

    .jumbotronHeader{
        display: flex;
              padding-left: 10px;
              justify-content: space-between;
              .titulo {
                font-size: 22px;
                color: $font-purple-color;
              }
              .header-item{
                display: inline-block;
              }
    }
}

/*
 ######     ###    ########  ########  
##    ##   ## ##   ##     ## ##     ## 
##        ##   ##  ##     ## ##     ## 
##       ##     ## ########  ##     ## 
##       ######### ##   ##   ##     ## 
##    ## ##     ## ##    ##  ##     ## 
 ######  ##     ## ##     ## ########
*/
mat-card.cardG{
  position: relative !important;
  margin-top: 2rem !important;
  background-color: $backgroundColor !important;
  border-radius: 20px !important;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2) !important;

  mat-card-header.cardHeaderG{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    mat-card-title.cardTitleG {
      font-size: 22px;
      font-weight: 600;
      color: $primaryColor;
    }
    mat-card-subtitle.cardSubtitleG{
      font-size: 17px;
      font-weight: 400;
      color: $colorText1;
      margin-top: 20px;
    }
    .header-item{
      display: inline-block;
    }
  }

  mat-card-content.cardBodyG{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 70rem !important;
    overflow-y: auto;
  }
}

/*
########    ###    ########  ##       ######## 
   ##      ## ##   ##     ## ##       ##       
   ##     ##   ##  ##     ## ##       ##       
   ##    ##     ## ########  ##       ######   
   ##    ######### ##     ## ##       ##       
   ##    ##     ## ##     ## ##       ##       
   ##    ##     ## ########  ######## ########
*/
table.tableG{
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  
  caption{
    display: none !important;
  }

  /* thead.theadG{

  } */

  th.thG{
    text-align: center !important;
    font-family: $SFDisplay-bold !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid $colorBorderTable !important;
    z-index: 1 !important;
    padding: 10px !important;
  }

  /* tbody.tbodyG{

  } */

  /*tr.trG{
    
  }*/

  td.tdG{
    text-align: center !important;
    border-bottom: 1px solid $colorBorderTable !important;
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
  }

  
}
