//Global
$SFDisplay-light: "SFDisplay-light";
$SFDisplay-bold: "SFDisplay-bold";
$SFDisplay-semiBold: "SFDisplay-semiBold";
$SFDisplay-regular: "SF-Pro-Display-Regular";

$white-color:#fff; //no usar
$black-color:#000; // no usar
$light-color:#F7F7F7;
$grey-color:#969594;
$font-purple-color:#7A1A66;
$font-blue-color:#2178DD;
$font-grey-color:#353A40;
$font-grey2-color:#969594;
$font-red-color:#F7685B;
$font-warning-red:#F7685B;
$grey-light-color:rgba(208, 201, 214, 0.3);
$grey-scrollBar-color:#D0C9D6;
$searchBar-backgroun-color:rgba(255, 255, 255, 0.2);
$tag-activo-color:#2ED47A;
$tag-inactivo-color:#F7685B;
$tag-pendiente-color:#FFB946;
$border-color:#EAEAEA;
$warn-color: rgba(247, 104, 91, 0.3);

$primaryColor: #7A1A66;
$secundaryColor: #2178DD;
$backgroundColor: #fff;
$colorText1: #343A40;
$colorText2: #969594;
$colorTextDisabled: #D0C9D6;
$colorBorderTable: #96959480;

$buttonRaised-Background: #C1109C;
$buttonRaised-HoverBacground: $primaryColor;
$buttonRaised-DisabledBackground: #D0C9D6;
$buttonRaised-Color: white;

//Estilo Sign In
$color-navbar:red;
$navBar-height:16%;
